:root {
    --pantone-dark: #211261;
    --pantone-darkest: #150c3e;
    --pantone-medium: #3cb4e5;
    --pantone-light: #7ac5f4;
    --pantone-lightest: #ebf7ff;
    --pink: #ed217c;
    --pink-light: #ff5ba5;
    --green: #36b449;
    --green-dark: #246d2f;
}

body#elorrieta_body {
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu Condensed', sans-serif;
}

body#elorrieta_body div#app nav#barra {
    background-color: var(--pantone-lightest) !important;
}

/* BOTONES */
button.btn-primary,
a.btn-primary {
    background-color: var(--pantone-medium);
    border-color: var(--pantone-medium);
    color: white;
}

button.btn-primary:hover,
a.btn-primary:hover {
    background-color: var(--pantone-light);
    border-color: var(--pantone-light);
    color: white;
}

button.btn-danger,
a.btn-danger {
    background-color: var(--pink);
    border-color: var(--pink);
    color: white;
}

button.btn-danger:hover,
a.btn-danger:hover {
    background-color: var(--pink-light);
    border-color: var(--pink-light);
    color: white;
}

button.btn-secondary,
a.btn-secondary {
    background-color: var(--pantone-dark);
    border-color: var(--pantone-dark);
    color: white;
}

button.btn-secondary:hover,
a.btn-secondary:hover {
    background-color: black;
    border-color: black;
    color: white;
}

button.btn-warning,
a.btn-warning {
    background-color: var(--green);
    border-color: var(--green);
    color: white;
}

button.btn-warning:hover,
a.btn-warning:hover {
    background-color: var(--green-dark);
    border-color: var(--green-dark);
    color: white;
}

/* BADGES */
#elorrieta_body span.badge {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
    color: white;
}

#elorrieta_body span.badge.bg-warning {
    background-color: var(--pantone-dark) !important;
}

#elorrieta_body span.badge.bg-danger {
    background-color: var(--pink) !important;
}

#elorrieta_body span.badge.bg-primary {
    background-color: var(--pantone-medium) !important;
}

#elorrieta_body span.badge.bg-success {
    background-color: var(--green) !important;
}

/* PAGINACIÓN */
.pagination .page-link {
    color: var(--pantone-medium);
    background-color: #f1f1f1;
    border-color: #ddd;
}

.pagination .page-link:hover {
    color: white;
    background-color: var(--pantone-medium);
    border-color: var(--pantone-medium);
}

.pagination .page-item.active .page-link {
    color: white;
    background-color: var(--pantone-dark);
    border-color: var(--pantone-dark);
}

#carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}

#carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.65);
}

#sideMenu a.nav-link.active {
    background-color: var(--pantone-medium);
}

#sideMenu {
    background-color: var(--pantone-dark);
    overflow: hidden;
}

#logo_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sideMenu .nav-link i {
    font-size: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

#sideMenu .nav-link:hover {
    background-color: var(--pantone-darkest);
}

#sideMenu .dropdown-menu .dropdown-item {
    background-color: var(--pantone-darkest);
    color: white;
}

#sideMenu .dropdown-menu .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#sideMenu .dropdown-menu {
    background-color: var(--pantone-darkest);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--pantone-dark);
}

.rounded-image-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#totales .bg-dark{
    background-color: var(--pantone-darkest) !important;
}