/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

table.usuarios tr.admin {
    background-color: red;
    cursor: pointer;
}

table.usuarios tr.admin {
    background-color: blue;
    cursor: pointer;
}

h2 {
    color: red;
}